<div class="left">
    <div class="top">
      <i class="ri-edit-circle-fill"></i>
      <h6>Project 5 | Editor</h6>
    </div>
    <div class="bottom">
        <div class="f1">
          <div class="ru" id="undo">
            <i class="ri-arrow-go-back-line"></i>
            <h6>Undo</h6>
          </div>
          <div class="ru" id="redo">
            <i class="ri-arrow-go-forward-line"></i>
            <h6>Redo</h6>
          </div>
        </div>
        <div class="openimg openFile">
          <h6>Open New Image</h6>
        </div>
        <hr style="border: none; background-color: white; height: .8px; margin-top: 2px;">
        <div class="features">
          <div class="feature invert">
            <h6>Invert</h6>
           </div>
         <div class="feature greyscale">
          <h6>Greyscale</h6>
         </div>
         <div class="feature square resize">
           <h6>Resize</h6>
         </div>
         <div class="feature mirror">
           <h6>Mirror</h6>
         </div>
         <div class="wh d-none  close-div">
          <div class="arrow"> </div>
          <div class="wh1 whinput">
              <label for="">Width: </label>
              <input type="text">
          </div>
          <div class="wh2 whinput">
            <label for="">Height: </label>
            <input type="text">
          </div>
          <i style="color: white; font-size: 1.7vw; margin: 3px; cursor: pointer;" class="ri-arrow-right-circle-line"></i>
         </div>

         <div class="feature contrast">
           <h6>Contrast</h6>
         </div>
         <div class="feature blur">
           <h6>Blur</h6>
         </div>

         <div class="feature sepia">
          <h6>Sepia</h6>
        </div>
        <div class="feature post">
          <h6>Posterize</h6>
        </div>
        <div class="postn close-div">
          <h6>Percentage(%): </h6>
          <div class="par">
            <h5>25</h5>
          </div>
          <div class="par">
            <h5>50</h5>
          </div>
          <div class="par">
            <h5>75</h5>
          </div>
          <div class="par">
            <h5>100</h5>
          </div>
        </div>
        <div class="feature crop">
          <h6>Crop</h6>
          <div class="crop-at">
          <label for=""> | &nbsp;&nbsp; X</label>
          <input type="text"id="xval">
          <label for="">Y</label>
          <input type="text"id="yval">
        </div>
      </div>
        <div class="cropdiv close-div">
          <label for="">Width</label>
          <input type="text"id="wth">
          <label for="">Height</label>
          <input type="text"id="hth">
          <h4 id="cropbutton">Crop</h4>

        </div>
        <div class="feature down">
          <a>Download</a>
        </div>
        </div>
    </div>
  </div>